{% extends 'base.html' %}



{% block content %}
{% load static %}
<section style="background: #eee;">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Hello, {{user.email|capfirst}}!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                featured content or information. 
                <p>First Name: &nbsp;<strong>{{user.first_name}}</strong></p>
                <p>Last Name: &nbsp;<strong>{{user.last_name}}</strong></p>
                <p>Is Staff: &nbsp;<strong>{{user.is_staff}}</strong></p>
                <p>Is Active: &nbsp;<strong>{{user.is_active}}</strong></p>
                <p>Date Joined: &nbsp;<strong>{{user.date_joined}}</strong></p>
                <p>Last Login: &nbsp; <strong>{{user.last_login}}</strong></p>
                <p>Last Login: &nbsp; <strong>{{user.last_login}}</strong></p>
                <p>Phone Number: &nbsp; <strong>{{user.phone_no}}</strong></p>
                <p>BVN: &nbsp;<strong>{{user.bvn}}</strong></p>
                <p>Email Address: &nbsp;<strong>{{user.email|capfirst}}</strong></p>
                <p>Password: &nbsp;<strong>{{user.password}}</strong></p>
                <p>Full Name: &nbsp;<strong>{{user.get_full_name}}</strong></p>
                <p>Profile Pics: &nbsp;<strong>{{user.avater}}</strong></p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</section>

{% endblock %}