{% extends 'base.html' %}


{% block content %}
{% load static %}



<div class="container">
  <h2>Hello {{user.get_full_name|title}},</h2>
  <p>A list of all repayment request and their status.</p>  


<div class="col-md-6 pad-md-0">
   <!-- Django attribute to catch error or successful message dynamically -->
    {% if messages %}
        <div class="messages col-md-12 pad-md-0">
        {% for message in messages %}
            <div {% if message.tags %} class="alert  alert-{{message.tags}} alert-dismissable" {% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {% if message.tags == 'error' %}
                <strong>Whoops! &nbsp; </strong> {{ message }}.
                {% else %}
                <strong>Congratulations! &nbsp; </strong> {{ message }}.
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if form.errors %}
        <div class="alert col-md-12 pad-md-10 alert-error alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Your form has errors! &nbsp; </strong>
        {% for field in form %}            
            {% if field.errors %}
                {{field.errors}}.                    
            {% endif %}
        {% endfor %}
        </div>
    {% endif %} 
</div>



  <table class="table table-bordered">
    <thead>
        <tr class="table-active">
            <td colspan="5" class="text-center"><strong>REPAYMENT TABLE</strong></td>
        </tr>
        <tr>
            <th>Debtors Name</th>
            <th>Description</th>
            <th>Amount Paid</th>
            <th>Repayment Img</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for all_repayment in all_repayments %}

        <tr>
            <td>{{all_repayment.user_id.first_name|title}}&nbsp;{{all_repayment.user_id.last_name|title}}</td>
            <td>{{all_repayment.description|title}}</td>
            <td>₦&nbsp;{{all_repayment.amount}}</td>
                <td class="zoom-gallery">
                    <a href="{{all_repayment.repayment_img.url}}" title="{{all_repayment.user_id.first_name|title}}&nbsp;{{all_repayment.user_id.last_name|title}}" class="img-responsive">
                        <img src="{{all_repayment.repayment_img.url}}" height="50px" width="65px">
                    </a>
                </td>
            <td>
            <div class="col-md-12 pad-md-0">
                {% if all_repayment.status == 1 %}
                    <button class="btn btn-success margin-top-0 margin-right-0">Approved</button>
                {% elif all_repayment.status == 2 %}
                    <button class="btn btn-warning margin-top-0 margin-right-0">Declined Payment</button>
                {% else %}
                    <form method="POST" action="{% url 'approve_repayment' all_repayment.loan_id.id %}" class="col-md-6 pad-md-0">
                        {% csrf_token %}
                        <input type="hidden" value="approve" name="status"/>
                        <button type="submit" class="btn btn-info margin-top-0 ">Approve</button>
                    </form>

                    <form method="POST" action="{% url 'approve_repayment' all_repayment.loan_id.id  %}" class="col-md-6 pad-md-0">
                        {% csrf_token %}
                        <input type="hidden" value="decline" name="status"/>
                        <button type="submit" class="btn btn-danger pull-left margin-top-0">Decline</button>
                    </form>
                {% endif %}
            </div>
            </td>
        </tr>
        {% empty %}
            <tr class="table-active">
                <td colspan="5" class="text-center"><strong>No recent entries.</strong></td>
            </tr>

    {% endfor %}
      
     
    </tbody>
  </table>
</div>

   
 


{% endblock %}