{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Augustine O.">
     <meta name="description" content="Making Your Dreams Come True." />
    <meta name="keywords" content="Saves, Loan, apply" />
    <title> QuickCash | Making Your Dreams Come True.</title>

    <!-- core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/icomoon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/datepicker.min.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
   
</head>
<!--/head-->

<body class="homepage">
    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <!-- <img src="{% static 'assets/images/logo.png' %}" alt="logo"> -->
                        <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-money"></i>&nbsp;<span class="secondary-color">QuickLoan</span></a>
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">About Us</a></li>
                        <li><a href="#">Our Solutions</a></li>
                        <li><a href="#">Contacts</a></li>

                        {% comment %} {% if user.is_authenticated %} {% endcomment %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard &nbsp;<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Dashboard</a></li>
                                {% comment %}
                                    I think Doctors get sick also they should be able to create and view their medical report also 
                                {% endcomment %}
                                <li><a href="#">Create Medical Report</a></li>
                                <li><a href="#">My Medical Report</a></li>
                                {% comment %} {% if user.is_staff %} {% endcomment %}
                                    <li><a href="#">Patients Medical Report</a></li>
                                    <li><a href="#">Saved Report</a></li>
                                {% comment %} {% endif %}                             {% endcomment %}
                                <li><a href="#">Medical Statistic</a></li>
                            </ul>
                        </li>
                    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Email&nbsp;<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="javascript:{document.getElementById('js-logout').submit()}" onClick=""> Logout</a></li>
                            </ul>
                            <form id="js-logout" method="POST" action="#">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </li>

                        {% comment %} {% else %} {% endcomment %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts&nbsp;<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'login' %}">Login</a></li>
                                <li><a href="{% url 'signup' %}">Register</a></li>
                            </ul> 
                        </li>
                        
                        {% comment %} {% endif %} {% endcomment %}
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->





    {% block content %}

    {% endblock %}
        <section >
            <div class="container" >
                
            </div>
        </section>





 
    <div class="container-fluid">
        <footer id="footer" class="midnight-blue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        &copy; 2019 <a target="_blank" href="{% url 'home' %}" style="color: #fff;" title="QuickCash">QuickCash</a>.
                        All Rights Reserved.
                    </div>
                
                </div>
            </div>
        </footer>
        <!--/#footer-->
    </div>
   

    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/datepicker.min.js' %}"></script>
    
</body>
</html>